/*
 *           _____                    _____                    _____                    _____                   _______                   _____          
 *          /\    \                  /\    \                  /\    \                  /\    \                 /::\    \                 /\    \         
 *         /::\____\                /::\    \                /::\    \                /::\    \               /::::\    \               /::\    \        
 *        /:::/    /               /::::\    \              /::::\    \              /::::\    \             /::::::\    \             /::::\    \       
 *       /:::/    /               /::::::\    \            /::::::\    \            /::::::\    \           /::::::::\    \           /::::::\    \      
 *      /:::/    /               /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
 *     /:::/____/               /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
 *    /::::\    \              /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
 *   /::::::\    \   _____    /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
 *  /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/\:::\   \:::\____\ 
 * /:::/  \:::\    /::\____\/:::/  \:::\   \:::\____\/:::/  \:::\   \:::|    |/:::/__\:::\   \:::|    ||:::|____|     |:::|    |/:::/  \:::\   \:::|    |
 * \::/    \:::\  /:::/    /\::/    \:::\  /:::/    /\::/   |::::\  /:::|____|\:::\   \:::\  /:::|____| \:::\    \   /:::/    / \::/   |::::\  /:::|____|
 *  \/____/ \:::\/:::/    /  \/____/ \:::\/:::/    /  \/____|:::::\/:::/    /  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \/____|:::::\/:::/    / 
 *           \::::::/    /            \::::::/    /         |:::::::::/    /    \:::\   \::::::/    /     \:::\    /:::/    /          |:::::::::/    /  
 *            \::::/    /              \::::/    /          |::|\::::/    /      \:::\   \::::/    /       \:::\__/:::/    /           |::|\::::/    /   
 *            /:::/    /               /:::/    /           |::| \::/____/        \:::\  /:::/    /         \::::::::/    /            |::| \::/____/    
 *           /:::/    /               /:::/    /            |::|  ~|               \:::\/:::/    /           \::::::/    /             |::|  ~|          
 *          /:::/    /               /:::/    /             |::|   |                \::::::/    /             \::::/    /              |::|   |          
 *         /:::/    /               /:::/    /              \::|   |                 \::::/    /               \::/____/               \::|   |          
 *         \::/    /                \::/    /                \:|   |                  \::/____/                 ~~                      \:|   |          
 *          \/____/                  \/____/                  \|___|                   ~~                                                \|___|          
 *                                                                                                                                                       
 * ======================================================== Harbor Browser User Agent Stylesheet =========================================================
 * Version: 0.1.0
 *
 * This file contains the default styles for Harbor Browser's user agent stylesheet.
 *
 *
 * NOTE: ASCII Art taken from https://patorjk.com/software/taag/
 * with "Alpha" font.
 * */

area, base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, style, template, title {
  display: none;
}

html, body { display: block; }

html {
  font-family: "Arial", sans-serif;
}

body {
  margin: 8px;
  background-color: white;
  color: black;
  font-size: 32px;
}

address, blockquote, center, dialog, div, figure, figcaption, footer, form,
header, hr, legend, listing, main, p, plaintext, pre, search, xmp {
  display: block;
}

blockquote, figure, listing, p, plaintext, pre, xmp {
  /* NOTE: This is actually margin-block */
  margin: 1em 0;
}

address { font-style: italic; }

cite, dfn, em, i, var { font-style: italic; }
b, strong {font-weight: bolder; }
big { font-size: larger; }
small { font-size: smaller; }

article, aside, h1, h2, h3, h4, h5, h6, hgroup, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.67em; margin: 2.33em 0; }

dir, dd, dl, dt, menu, ol, ul { display: block; }
/* TODO: text-align
 * li { display: list-item; text-align: match-parent; } */
li { display: list-item; }

/* NOTE: This is actually supposed to be margin-block */
dir, dl, menu, ol, ul { margin: 1em 0; }

ul, ol {
  display: block;
}

marquee {
  /* NOTE: This is actually supposed to be inline-block, but I haven't implemented that yet */
  display: block;
}

main {
  display: block
}

li {
  display: list-item;
  margin-left: 0.75em;
}

a {
  color: AccentColor;
}
