/*
 *           _____                    _____                    _____                    _____                   _______                   _____          
 *          /\    \                  /\    \                  /\    \                  /\    \                 /::\    \                 /\    \         
 *         /::\____\                /::\    \                /::\    \                /::\    \               /::::\    \               /::\    \        
 *        /:::/    /               /::::\    \              /::::\    \              /::::\    \             /::::::\    \             /::::\    \       
 *       /:::/    /               /::::::\    \            /::::::\    \            /::::::\    \           /::::::::\    \           /::::::\    \      
 *      /:::/    /               /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
 *     /:::/____/               /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
 *    /::::\    \              /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
 *   /::::::\    \   _____    /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
 *  /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/\:::\   \:::\____\ 
 * /:::/  \:::\    /::\____\/:::/  \:::\   \:::\____\/:::/  \:::\   \:::|    |/:::/__\:::\   \:::|    ||:::|____|     |:::|    |/:::/  \:::\   \:::|    |
 * \::/    \:::\  /:::/    /\::/    \:::\  /:::/    /\::/   |::::\  /:::|____|\:::\   \:::\  /:::|____| \:::\    \   /:::/    / \::/   |::::\  /:::|____|
 *  \/____/ \:::\/:::/    /  \/____/ \:::\/:::/    /  \/____|:::::\/:::/    /  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \/____|:::::\/:::/    / 
 *           \::::::/    /            \::::::/    /         |:::::::::/    /    \:::\   \::::::/    /     \:::\    /:::/    /          |:::::::::/    /  
 *            \::::/    /              \::::/    /          |::|\::::/    /      \:::\   \::::/    /       \:::\__/:::/    /           |::|\::::/    /   
 *            /:::/    /               /:::/    /           |::| \::/____/        \:::\  /:::/    /         \::::::::/    /            |::| \::/____/    
 *           /:::/    /               /:::/    /            |::|  ~|               \:::\/:::/    /           \::::::/    /             |::|  ~|          
 *          /:::/    /               /:::/    /             |::|   |                \::::::/    /             \::::/    /              |::|   |          
 *         /:::/    /               /:::/    /              \::|   |                 \::::/    /               \::/____/               \::|   |          
 *         \::/    /                \::/    /                \:|   |                  \::/____/                 ~~                      \:|   |          
 *          \/____/                  \/____/                  \|___|                   ~~                                                \|___|          
 *                                                                                                                                                       
 * ======================================================== Harbor Browser User Agent Stylesheet =========================================================
 * Version: 0.1.0
 *
 * This file contains the default styles for Harbor Browser's user agent stylesheet.
 *
 *
 * NOTE: ASCII Art taken from https://patorjk.com/software/taag/
 * with "Alpha" font.
 * */

html {
  font-family: "Times New Roman";
}

body {
  margin: 16px;
  background-color: white;
  color: black;
  font-size: 32px;
}

html, body, h1, h2, h3, ul, p, div {
  display: block;
}

li {
  display: list-item;
  margin-left: 0.5em;
}

span, a, em, strong, b, i {
  display: inline;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

a {
  color: AccentColor;
}
