html {
  font-size: 32px;
}

html, body, h1, h2, h3, ul, li, p, div {
  display: block;
}

span, a, em, strong {
  display: inline;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: AccentColor;
}
