@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk.ttf') format('truetype');
}

@theme {
  --color-bg: #0b0b1a;

  --color-subtext: #aaa;
  --color-text: #eee;
  --color-text-dark: #00001f;

  --color-emphasis-1: #B9C6E3;
  --color-emphasis-2: #59A5C9;

  --color-gh-green: #0FBF3E;
  --color-scratch-red: #FF5733;

  --font-heading: 'Space Grotesk', serif;
  --font-body: 'Merriweather', serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

p {
  line-height: 2;
}
